#sensor_label {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#selected {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#measurements_iframe {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}