#sensors {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#selected {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#measurements {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}